*{transition:all 0.3s ease-in-out;}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card{
  position: relative;
  text-align: center;
  margin: 16px;
  min-height: 250px;
  max-height: 400px !important;
  min-width: 180px;
  transition: transform .2s !important;
  border-radius: 15px !important;
  -webkit-box-shadow: 5px 5px 15px -12px rgb(54, 184, 255) !important;
  -moz-box-shadow: 5px 5px 15px -12px rgb(54, 184, 255) !important;
  box-shadow: 5px 5px 15px -12px rgb(54, 184, 255) !important;
  overflow: hidden;
  
}


.card:hover {
  transform: scale(1.05) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dropdownzIndex{
  z-index: 1;
}

.cardText{
  position: absolute;
  color: white;
  font-family:'Jura' !important;
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%); */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);

  /* backdrop-filter: blur(5px); */
  width: 100%;
  height: 100%;
  top: 100%;
  left: 50%; 
  
  transform: translate(-50%, -100%);
}

.textPanel{
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 14px;
  color: white !important;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent); */
  /* background-color: aqua !important; */
  z-index: 9;
}


.MuiInput-underline:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}

.MuiInputBase-input {
  
  color: white !important;
}

.MuiFormLabel-root {
  color: whitesmoke !important;
  /* font-family: ; */
  
}